<div>
  <div class="mt-10 mb-3">
    <% if (parent) { %>
    <a href="/folders/<%= parent.id %>" class="text-black underline text-sm">
      / <%= parent.name %></a
    >
    <% } %>
  </div>

  <div class="flex justify-between relative">
    <h1 class="font-semibold text-left text-xl py-3"><%= title %></h1>

    <% if (parent) { %>
    <button class="more-button hover:bg-slate-300 rounded-lg p-3">
      <img
        src="/icons/ellipsis-horizontal-outline.svg"
        alt="more actions"
        class="w-6"
      />
    </button>
    <div
      class="more-div hidden absolute top-full right-0 flex-col bg-white border shadow-md shadow-stone-300 rounded-lg"
    >
      <a
        href="#"
        class="edit-folder w-full flex whitespace-nowrap text-sm font-medium p-4 hover:bg-hover-gray"
      >
        Edit
      </a>
      <a
        href="#"
        class="delete-folder w-full flex whitespace-nowrap text-sm font-medium p-4 hover:bg-hover-gray"
      >
        Delete
      </a>
    </div>
    <% } %>
  </div>

  <div class="flex flex-wrap my-5">
    <% if (children && children.length) { children.forEach((folder) => { %>
    <a
      href="<%= folder.id %>"
      class="flex w-40 text-sm font-medium text-left rounded-lg p-3 m-3 bg-slate-200 hover:bg-slate-300"
    >
      <img src="/icons/folder-outline.svg" alt="folder" class="w-5 mr-2" />
      <h2 class="truncate"><%= folder.name %></h2>
    </a>
    <% }) } %>
  </div>

  <div class="flex flex-wrap my-5">
    <% if (files && files.length) { files.forEach((file) => { %>
    <a
      href="/files/<%= file.path %>"
      class="w-28 h-32 flex flex-col items-center text-center rounded-lg p-2 m-3 bg-slate-200 hover:bg-slate-300"
    >
      <img src="/icons/document-outline.svg" alt="document" class="w-8 m-2" />
      <p class="text-sm line-clamp-3"><%= file.name %></p>
    </a>
    <% }) } %>
  </div>
</div>

<%- include("edit-folder-modal") %> <%- include("delete-folder-modal") %>

<script type="module" src="/js/modal.js"></script>
<script type="module">
  import { toggleVisibility, closeDiv, closeModal } from '/js/modal.js';
  toggleVisibility('.more-button', '.more-div');
  closeDiv('.more-div');

  toggleVisibility('.edit-folder', '.edit-folder-modal');
  closeModal('.edit-folder-modal');

  toggleVisibility('.delete-folder', '.delete-folder-modal');
  closeModal('.delete-folder-modal');
</script>
